.button-second {
  @include title(inherit, 27px, 19px);
  display: inline-block;
  min-width: 113px;
  padding: 12px 10px 9px;
  vertical-align: middle;
  text-align: center;
  background: none;
  border: 3px solid currentColor {
    radius: 5px;
  }
}
