.button {
  @include title($colorWhite, 19px, 19px);
  display: inline-block;
  min-width: 43px;
  padding: 8px 8px 5px;
  vertical-align: middle;
  text-align: center;
  background-color: $colorSecondary;
  border: none {
    radius: 3px;
  }

  &--second {
    min-width: 58px;
    padding: 9px 8px 6px;
  }
}
