@mixin font-face($family, $fileName, $weight: normal, $style: normal) {
  $fontName: str-insert($family, " Regular", 100);
  $fontNameSecond: $fileName;

  @font-face {
    font: {
      family: $family;
      weight: $weight;
      style: $style;
      display: swap;
    }
    src: local($fontName),
         local($fontNameSecond),
         url("../fonts/#{to-lower-case($fileName)}.woff2") format("woff2"),
         url("../fonts/#{to-lower-case($fileName)}.woff") format("woff");
  }
}

@mixin text($color: $colorWhite, $fontSize: 17px, $lineHeight: 28px) {
  margin: 0;
  font: #{$fontSize}/#{$lineHeight} "Open Sans", "Arial", sans-serif;
  color: $color;
}

@mixin title($color: $colorGray, $fontSize: 27px, $lineHeight: 25px) {
  margin: 0;
  font: #{$fontSize}/#{$lineHeight} "Bebas Neue", "Arial", sans-serif;
  color: $color;
  text-transform: uppercase;
}
