$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGray: #afafaf;
$colorGrayL: #a1a1a1;
$colorGrayXL: #e1e1e1;

$colorPrimary: #3cc3b5;
$colorPrimaryL: #4ccfc1;
$colorPrimaryD: #2da89b;
$colorSecondary: #3cc395;
